<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <link rel="icon" th:href="@{/img/icon.png}" type="image/x-icon" />
  <title>Lista viajes</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/fontawesome-all.min.css}">
</head>
<body>
<div class='container'>
  <div>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid justify-content-center">
        <a class="navbar-brand" href="#">
          <img src="/img/travel%20can_logo.png" alt="" width="60" height="60" class="d-inline-block align-text-top">
          Travel Can
        </a>
      </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-app" aria-controls="navbar-app" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbar-app">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" th:href="@{/viajes/lista}">Viajes</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" th:href="@{/mascotas/lista}"> Mascotas</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" th:href="@{/lugares/lista}"> Lugares</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <main>
    <!-- Contenido -->
    <div class="page-header text-center">
      <h1>Lista Lugares</h1>
    </div>
    <div class="container-fluid">
      <a class="btn btn-primary mt-4 mb-4" th:href="@{/lugares/nuevo}">Nuevo Lugar</a>
    </div>
    <div class="container px-4 py-5">
      <table class="table">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Fecha de visita</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lugar, info : ${listaLugares}">
          <td th:text="${lugar.nombreLugar}"></td>
          <td th:text="${lugar.descripLugar}"></td>
          <td th:text="${lugar.fechaLugar}"></td>
          <td>
            <img src="/img/chaclacayo.jfif" alt="" width="60" height="60" class="d-inline-block align-text-top">
          </td>
          <td><a class="btn btn-primary" th:href="@{'/lugares/editar?id=' + ${lugar.id}}">Editar</a></td>
          <td><a class="btn btn-danger"
                 th:href="@{'/lugares/delete?id=' + ${lugar.id}}">Borrar</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>
</body>
</html>